@(link: String)
<!DOCTYPE html>
<html>
<head>
  <title>Reset your Speakaa password</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css">

  #reset-content p {
    font-size: 16px;
  }
  #reset-content p:first-child {
    font-size: 20px;
  }
  #reset-content {
    padding: 0 0 3em 0;
    font-family: 'Raleway', sans-serif;    
  }
  #reset-button {
    width: 12em;
    padding: 0.5em;
    margin: 1em 1em 1em 0;
    text-align: center;
    font-size: 20px;
    background-color: #4fc1e9;
  }
  a {
    color: #FFF;
  }
  a:link {
    text-decoration: none;
  }
  </style>
</head>

<body>
  <div id="reset-content">
    <div>
      <p>Forgot you Speakaa password?</p>
      <p>We receive a request to reset your password for your account.</p>
      <p>If you didn't make this request, you can ignore this email.</p>
      <p>If you made this request, click the button below.</p>
    </div>
    <div id="reset-button">
      <a href="@link">Reset your password</a>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</body>
</html>