@(link: String)
<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Speakaa Account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css">

  .confirm-content p {
    font-size: 20px;
  }
  .confirm-content p:first-child {
    font-size: 28px;
  }
  .confirm-content {
    font-family: 'Raleway', sans-serif;    
  }
  .button {
    width: auto;
    padding: 0.5em;
    margin: 0.5em 65% 0.5em 0;
    text-align: center;
    font-size: 20px;
    background-color: #4fc1e9;
  }
  a {
    color: #FFF;
  }
  a:link {
    text-decoration: none;
  }
  </style>
</head>

<body>
  <div class="confirm-content">
    <div>
      <p>One more step ...</p>
      <p>Confirm your email address to complete your Speakaa account.<br>Just click on the link below - simple as that.</p>
    </div>
    <div class="button">
      <a href="@link">Confirm now</a>
    </div>
  </div>
</body>
</html>