@(link: String)
<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Speakaa Account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css">
  body {
    font-family: 'Raleway', sans-serif;
  }
  p {
    font-size: 24px;
  }
  p:first-child {
    font-size: 32px;
  }
  .button {
    width: auto;
    padding: 0.5em;
    margin: 0 20em 0 0;
    text-align: center;
    font-size: 28px;
    background-color: #4fc1e9;
  }
  a {
    color: #FFF;
  }
  a:link {
    text-decoration: none;
  }
  </style>
</head>

<body>
  <div>
    <p>One more step ...</p>
    <p>Confirm your email address to complete your Speakaa account.<br>Just click on the link below - simple as that.</p>
  </div>
  <div class="button">
    <a href="@link">Confirm now</a>
  </div>
</body>
</html>